@import "tailwindcss";

@theme {
  --font-sans: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;

  --color-gold-50: #fdfaf5;
  --color-gold-100: #f9f1e3;
  --color-gold-200: #f2dfc0;
  --color-gold-300: #ebc792;
  --color-gold-400: #e3aa5f;
  --color-gold-500: #cb9b51;
  --color-gold-600: #b5843b;
  --color-gold-700: #936932;
  --color-gold-800: #79552f;
  --color-gold-900: #654729;
  --color-gold-950: #3a2716;

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@utility bg-gradient-gold {
  background-image: linear-gradient(
    to right,
    #462523 0%,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
}

@utility bg-gradient-gold-light {
  background-image: linear-gradient(
    to right,
    #cb9b51 0%,
    #f6e27a 25%,
    #f6f2c0 50%,
    #f6e27a 75%,
    #cb9b51 100%
  );
}

@utility gold-gradient {
  background-image: linear-gradient(
    to right,
    #462523 0%,
    #cb9b51 0%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 100%,
    #462523 100%
  );
}

/* Highlighter effect styles */
[data-highlighter] > * {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

[data-highlighter] > *::before {
  transform: translate(var(--mouse-x), var(--mouse-y));
}

[data-highlighter] > *::after {
  transform: translate(var(--mouse-x), var(--mouse-y));
}

body {
  @apply bg-black;
}
